body {
	overflow: hidden;
}


/*.one {
	background-image: url("imgs/home/compressed/charon_1.jpg")
}

.two {
	background-image: url("imgs/home/compressed/charon_2.jpg");
}
*/
.three {
	background-image: url("imgs/home/compressed/earth_1.jpg");
}

.four {
	background-image: url("imgs/home/compressed/earth_2.jpg");
}

.five {
	background-image: url("imgs/home/compressed/earth_3.jpg");
}

.six {
	background-image: url("imgs/home/compressed/enceladus_1.jpg");
}

.seven {
	background-image: url("imgs/home/compressed/jupiter_2.jpg");
}

.eight {
	background-image: url("imgs/home/compressed/mars_1.jpg");
}

.nine {
	background-image: url("imgs/home/compressed/mars_2.jpg");
}

/*.ten {
	background-image: url("imgs/home/compressed/mercury_1.jpg");
}

.eleven {
	background-image: url("imgs/home/compressed/mercury_2.jpg");
}*/

/*.twelve {
	background-image: url("imgs/home/compressed/moon_1.jpg");
}
*/
.thirteen {
	background-image: url("imgs/home/compressed/moon_2.jpg");
}

.fourteen {
	background-image: url("imgs/home/compressed/neptune_1.jpg");
}

.fifteen {
	background-image: url("imgs/home/compressed/pluto_1.jpg");
}

.sixteen {
	background-image: url("imgs/home/compressed/pluto_2.jpg");
}

.seventeen {
	background-image: url("imgs/home/compressed/saturn_1.jpg");
}

.eighteen {
	background-image: url("imgs/home/compressed/saturn_2.jpg");
}

.nineteen {
	background-image: url("imgs/home/compressed/saturn_3.jpg");
}

.twenty {
	background-image: url("imgs/home/compressed/saturn_4.jpg");
}

.twenty-one {
	background-image: url("imgs/home/compressed/uranus_1.jpg");
}

.twenty-two {
	background-image: url("imgs/home/compressed/venus_1.jpg");
}

.twenty-three {
	background-image: url("imgs/home/compressed/sun_1.jpg");
}