body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: black;
	font-family: "Roboto Mono";
}

.blog {
	position: relative;
	width: 100%;
	height: 650px;
	display: block;
/*	background-color: red;*/
	padding: 0;
	margin-bottom: 35px;
}

.blog-header {
	position: relative;
	width: 100%;
	height: 50px;
/*	background-color: green; */
}

.blog-title {
	color: white;
	padding: 10px;
	font-size: 24px;
}

.blog-body {
	width: 100%;
	height: 600px;
	display: block;
/*	background-color: yellow;*/
}

.blog-left-col {
	float: left;
	width: 40%;
	height: 100%;
	background-color: blue;
}

.blog-right-col {
	float: right;
	width: 60%;
	height: 100%;
	background-color: pink;
}

.blog-small-frame {
	width: 480px;
	height: 300px;
	overflow: hidden;
}

.blog-small-img img {
	width: 100%;
	height: 100%;

	-moz-transition: all 0.5s;
 	-webkit-transition: all 0.5s;
  	transition: all 0.5s;
}

.blog-small-img img:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.blog-large-frame {
	width: 720px;
	height: 600px;
	overflow: hidden;
}

.blog-large-img img {
	width: 100%;
	height: 100%;

	-moz-transition: all 0.5s;
 	-webkit-transition: all 0.5s;
  	transition: all 0.5s;

}

.blog-large-img img:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#main-col {
	position: absolute;
	width: 1200px;
	height: 100%;
	margin-top: 90px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px
}

#header {
	width: 1200px;
	height: 100px;
	color: white;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#top {
	margin: 0px;
	width: 100%;
	height: 50px;
}

#bottom {
	position: fixed;
	margin: 0px;
	width: 100%;
	height: 50px;
}

#home {
	color: white;
	background-color: black;
	font-size: 36px;
	text-align: center;
}

#home:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

#pages {
	width: 100%;
	height: 100%;
	display: table;
}

.page {
	font-size: 20px;
	height: 100%;
	padding-top: 10px;
	background-color: white;
	color: black;
    text-align:center;
    display:inline-block;
    width:33.334%;
}

.page:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

#bg-1, #bg-2 {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100%;
}

#menu-bg-1, #menu-bg-2 {
	background-repeat: no-repeat;
/*	background-position: center top;
*/	background-size: 1800px auto;
}

#bg-1, #bg-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: -70px;
}

#title {
	margin-top: 75px;
	position: relative;
	color: white;
	font-size: 50px;
	text-align: center;
	font-weight: bolder;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	z-index: 11;
}

#quote {
	margin-top: 20px;
	position: relative;
	color: white;
	font-size: 12px;
	text-align: center;
	z-index: 10;
}

#menu-container {
	position: relative;
	top: 150px;
	width: 320px;
	margin: 0 auto;
}

#menu-bg-1, #menu-bg-2 {
	position: absolute;
	top: 0px;
	width: 320px;
	bottom: 0px;
	z-index: 99;
	border-radius: 10px;
	background-position: center -270px;
	-webkit-filter: blur(6px) saturate(1.25) contrast(1.5);
}

#menu {
	margin-top: 50px;
	position: relative;
	z-index: 100;
	background: rgba(236,228,197,0.5);
	padding-top: 5px;
	padding-bottom: 20px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
	text-align: center;
}

.menu-item {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}

.menu-item:hover {
	color: white;
	cursor: crosshair;
}

.pipe {
	display: inline-block;
	margin-bottom: -10px;
	width: 1px;
	height: 35px;
	opacity: .8;
 }

/*.one {
	background-image: url("imgs/1.jpg");
	z-index: 1;
}

.two {
	background-image: url("imgs/2.jpg");	
	z-index: 2;
}

.three {
	background-image: url("imgs/3.jpg");	
}

.four {
	background-image: url("imgs/4.jpg");	
}

.five {
	background-image: url("imgs/5.jpg");	
}

.six {
	background-image: url("imgs/6.jpg");	
}

.six {
	background-image: url("imgs/6.jpg");	
}

.seven {
	background-image: url("imgs/7.jpg");	
}

.eight {
	background-image: url("imgs/8.jpg");	
}

.nine {
	background-image: url("imgs/9.jpg");	
}

.ten {
	background-image: url("imgs/10.jpg");	
}

.eleven {
	background-image: url("imgs/11.jpg");
}

.twelve {
	background-image: url("imgs/12.jpg");
}*/

.one {
	background-image: url("imgs/updated/charon_1.jpg")
}

.two {
	background-image: url("imgs/updated/charon_2.jpg");
}

.three {
	background-image: url("imgs/updated/earth_1.jpg");
}

.four {
	background-image: url("imgs/updated/earth_2.jpg");
}

.five {
	background-image: url("imgs/updated/earth_3.jpg");
}

.six {
	background-image: url("imgs/updated/enceladus_1.jpg");
}

.seven {
	background-image: url("imgs/updated/jupiter_2.jpg");
}

.eight {
	background-image: url("imgs/updated/mars_1.jpg");
}

.nine {
	background-image: url("imgs/updated/mars_2.jpg");
}

.ten {
	background-image: url("imgs/updated/mercury_1.jpg");
}

.eleven {
	background-image: url("imgs/updated/mercury_2.jpg");
}

.twelve {
	background-image: url("imgs/updated/moon_1.jpg");
}

.thirteen {
	background-image: url("imgs/updated/moon_2.jpg");
}

.fourteen {
	background-image: url("imgs/updated/neptune_1.jpg");
}

.fifthteen {
	background-image: url("imgs/updated/pluto_1.jpg");
}

.sixteen {
	background-image: url("imgs/updated/pluto_2.jpg");
}

.seventeen {
	background-image: url("imgs/updated/saturn_1.jpg");
}

.eighteen {
	background-image: url("imgs/updated/saturn_2.jpg");
}

.nineteen {
	background-image: url("imgs/updated/saturn_3.jpg");
}

.twenty {
	background-image: url("imgs/updated/sun_1.jpg");
}

.twenty-one {
	background-image: url("imgs/updated/uranus_1.jpg");
}

.twenty-two {
	background-image: url("imgs/updated/venus_1.jpg");
}
